<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width" />
	<title>Lihat Data Penduduk</title>
	<link rel="stylesheet" type="text/css"
		href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet"
		href="/webjars/font-awesome/css/font-awesome.min.css"></link>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SI Kependudukan</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#">Home</a></li>
				<li class="active"><a href="#">Cari Data</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
		<h3 th:text="'Lihat Data Keluarga: ' + ${keluarga.nomor_kk}">Lihat Data Keluarga</h3>
		<table border="0" style="width:30%">
		    <tbody>
		      	<tr>
			        <td class="col-md-2">NKK</td>
			        <td class="col-md-2" th:text="${keluarga.nomor_kk}">Keluarga NKK</td>
			    </tr>
			    <tr>
			    	<td class="col-md-2">Alamat</td>
			        <td class="col-md-4" th:text="${keluarga.alamat}">Keluarga Alamat</td>
			    </tr>
			    <tr>
			        <td class="col-md-2">RT/RW</td>
			        <td class="col-md-4" th:text="${keluarga.RT} + '/' + ${keluarga.RW}">
			        	Keluarga RT/Keluarga RW</td>
				</tr>
				<tr>
					<td class="col-md-2">Kelurahan/Desa</td>
					<td class="col-md-4" th:text="${keluarga.id_kelurahan}">Keluarga Kelurahan</td>
				</tr>
				<tr>
					<td class="col-md-2">Kecamatan</td>
					<td class="col-md-4" th:text="${keluarga.id_kelurahan}">Keluarga Kecamatan</td>
				</tr>
				<tr>
					<td class="col-md-2">Kota</td>
					<td class="col-md-4" th:text="${keluarga.id_kelurahan}">Keluarga Kota</td>
				</tr>
		    </tbody>
	  </table>
	  
 	</div>
</body>
</html>

